<!DOCTYPE html >
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no,email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimum-scale=1.0">
<?php echo $_csspath; ?>	
<title>TCL&quot;集团&quot;股份|有限公司内部推荐</title>
<body class="mobile-bg" >
	<div style='display: none'>
	<img id='wxShareIgmURL' src="http://10.100.2.43/fansImg/CompLogo/1/152/151030/151030_120.gif?636104964708616064" alt="" />
	</div>
	<input type='hidden' id='wxShareDesc' value='Hi~这个职位真是太适合你啦，快来看看吧！'></input>
	<input type='hidden' id='appid' value=wxafcb7752886aa01b></input>
	<input type='hidden' id='page' value=R2></input>
	<input type='hidden' id='shareSign' value=></input>
	<input type='hidden' id='sign' value=48ee7c88d59895e3></input>
	<input type='hidden' id='cid' value=117303></input>
	<input type='hidden' id='did' value=1></input>
	<input type='hidden' id='oid' value=></input>
	<input type='hidden' id='uno' value=></input>	
	<input type='hidden' id='isWX' value=0></input>
	<input type='hidden' id='openid' value=></input>
	<input type='hidden' id='wxShareTitle' value='TCL&quot;集团&quot;股份|有限公司内部推荐，期待您的加入！（来自前程无忧）'></input>
	<!-- <div class="page-fy"> -->
     <div class="header" style='position: relative;'> 
          <h1 class="clearfix" style="display: block">
             <a href="javascript:void(0);" class="back" id='back1'><!--  <i class="icon icon-remove"></i> --></a>
               <a href="javascript:void(0);" class="back" id='back2' style='display:none;'></a>
              <span class="title">TCL&quot;集团&quot;股份|有限公司内部推荐</span>
           
          </h1>
  
     
     	   <div class="search-box search-box-top">
     	        <img class="icon-sea" src="<?php $this->loadImage('search.png')?>">
     	   	    <input type="text" placeholder="请输入职位名称" class="input" id="jobname" maxlength='50'/>
              <a href="javascript:void(0);" class="btn_search" id="search">搜索</a>
     	   </div>
     	   <div class="pointlist">
	     	   <ul>
	     	   	<li class="point-bor clearfix" onclick="getJobArea('jobarea')">
                <span class="pointlist-title">工作地点</span>
              <div class="list-text" >
                  <span id="jobarea"> 全国</span>
                  <a href="javascript:void(0);" class="dropdown-list"></a>
               </div>
            </li>
           
	     	   </ul>
     	   </div>
<!-- 
         <div class="btn-sea">
              <a href="#" class="btn-search">搜索</a>
         </div>
 -->   
    </div>    
 <div class="page-content">
 <div id="wrapperOuter" style="height: 378px;">
			<div id="wrapper">	
				<div id="scroller" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
					<div class="pullDown">
						<div class="loader">
							<span></span><span></span><span></span><span></span>
						</div>
						<div class="pullDownLabel">下拉刷新</div>
					</div>
					
					
					<div id="scroller-content" style="padding-bottom: 0px;">
 						<ul class="page-info page-by">
 						</ul>
					</div>
					
					<div class="pullUp" id="pullUp">
						<div class="loader">
							<span></span><span></span><span></span><span></span>
						</div>
						<div class="pullUpLabel">继续上拉加载更多</div>
				    </div>
				</div>
			</div>
		</div>
    
          <div class="top">
            <p id="share"><img src="http://10.100.2.4/im/mehire/recommend/images/fx.png?20160930"></p>
            <p id="icon_top"><img src="http://10.100.2.4/im/mehire/recommend/images/top.png?20160930"></p><p>
          </p></div>
<div class="btn-sea btn-app pos_fixb" id="rd_memu">
    <a href="javascript:void(0);" class="btn-search app-red" id="recommend">我要推荐</a>
</div>  
</div>
					<div class="pullDown" >
						<div class="loader">
							<span></span><span></span><span></span><span></span>
						</div>
						<div class="pullDownLabel">下拉刷新</div>
					</div>
					
					
					<div id="scroller-content">
 						<ul class="page-info page-by">
 						
 						</ul>
					</div>
					
					<div class="pullUp" id="pullUp">
						<div class="loader">
							<span></span><span></span><span></span><span></span>
						</div>
						<div class="pullUpLabel">加载中...</div>
				    </div>
				</div>
			</div>
		</div>
    
          <div class="top">
            <p id="share"><img src="<?php $this->loadImage('fx.png')?>"></p>
            <p id="icon_top" ><img src="<?php $this->loadImage('top.png')?>" ><p>
          </div>
<div class="btn-sea btn-app pos_fixb" id="rd_memu">
    <a href="javascript:void(0);" class="btn-search app-red"  id="recommend">我要推荐</a>
</div>  
</div>
<div id="no_job" style="display:none;background: #fff;line-height: 32px;width: 100%;border-radius: 5px;text-indent: 3em;" >没有找到相关的职位。</div>
<div id="select_jobarea" style="display:none;" class="selected">
     <p class="btitle"><span class="c_dark">当前城市</span></p>
     <span class="city_t" id='currentarea' onclick="setval2(this)" value="">全国</span>
    <p class="btitle"><span class="c_dark">热门城市</span></p>
    <table class="hotcity t2">
    <tbody><tr>
    <td onclick="setval2(this)" value=""><span>全国</span></td>
    <td onclick="setval2(this)" value="010000"><span>北京</span></td>
    <td onclick="setval2(this)" value="020000"><span>上海</span></td>
    <td onclick="setval2(this)" value="030200"><span>广州</span></td>
    
    </tr>
    <tr>
    <td onclick="setval2(this)" value="040000"><span>深圳</span></td>
    <td onclick="setval2(this)" value="180200"><span>武汉</span></td>
    <td onclick="setval2(this)" value="090200"><span>成都</span></td>
    <td onclick="setval2(this)" value="070200"><span>南京</span></td>

    </tr>
    <tr>
    <td onclick="setval2(this)" value="050000"><span>天津</span></td>
    <td onclick="setval2(this)" value="060000"><span>重庆</span></td>
    <td onclick="setval2(this)" value="200200"><span>西安</span></td>
    <td onclick="setval2(this)" value="080200"><span>杭州</span></td>
    </tr>
    </tbody></table>
    <p class="btitle"><span class="c_dark">按省份选择城市</span></p>
    <section class="reglist" style="margin-top:0px">
    </section>
    </div>
<?php echo $_jspath; ?>	
</body>
</html>
